<h2>Profile Page</h2>

<h3>Welcome to your PROFILE <%= user.email %> </h3>

<form action="/profile" method="POST">
  <label for="productName">Part Name</label>
  <input id="productName" type="text" name="productName" required />

  <label for="productDesc">Part Description</label>
  <input id="productDesc" type="text" name="productDesc" required />

  <label for="productType">Choose a category:</label>
  <select name="productType" id="productType" required>
    <option value=""></option>
    <option value="gpu">GPU</option>
    <option value="cpu">CPU</option>
    <option value="psu">PSU</option>
    <option value="memory">Memory</option>
    <option value="motherboard">Motherboard</option>
    <option value="storage">Storage</option>
    <option value="fullBuild">Full Laptop/Desktop</option>
    <option value="misc">Miscellaneous</option>
  </select>
  <label for="productWeight">Please Enter the exact weight of your item</label>
  <input id="productWeight" type="text" name="productWeight" required />

  <input type="submit" value="Add Part" />
</form>
<div class="add">
<h1>Parts You've Listed</h1>
<% user.products.forEach(p => {%>
<div class="product">
  <h2><%= p.productName %></h2>
  <p><%= p.productDesc %></p>
  <p><%= user.userName %></p>
  <p><%= p.productWeight %> lbs.</p>
  <h3><%= p.productType %> </h3>
  <p>Still available: <%= p.available %></p>
</div>
<% }) %>
</div>
<div class="claim">
  <% products.forEach(p => { %> 
    <h2><%= p.productType %> </h2>
    
  <% }) %> 

</div>