<h1>Search Results</h1>

<% product.forEach(p => {%>
<div class="product">
  <a href="/itempage/<%= p.id %>"><%= p.productName %></a>

  <p><%= p.productDesc %></p>
  <p><%= p.user.userName %></p>
  <h3><%= p.productType %></h3>

  <p>Still available: <%= p.available %></p>
</div>

<% }) %>
